/* Container to center the canvas */
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    /* padding: 20px; */
    box-sizing: border-box;
}

/* Additional information styling */
.header {
    color: white;
    font-size: 50px;
    /* background-color: #333; */
    /* padding: 10px; */
    /* margin-bottom: 10px; */
}

.console {
    display: flex;
    flex-direction: row;
    /* Arrange children in a row */
    width: 100%;
    /* Full width of the parent container */
    justify-content: space-between;
    /* Space out the children */
}

.info {
    color: white;
    font-size: 15px;
    /* background-color: #333; */
    /* padding: 10px; */
    /* margin-bottom: 10px; */
}